:root{
    font-size: 16px;
    --text-primary:#DFD5D3;
    --text-secondary:#BAB0B5;
    --bg-primary:#1A1F1F;
    --bg-secondary:#333838;
    --bg-item:#444554;
}

*{
    margin: 0;
    font-family: 'Quicksand';
    color: var(--text-primary);
}

body{
    background-image: linear-gradient(to right, var(--bg-secondary), var(--bg-primary));
}

#container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 1.25rem auto;
    padding: 0.5rem;
    max-height: 79vh;
    overflow-y: scroll;
}

#container::-webkit-scrollbar{
    display: none;
    position: absolute;
    width: 0.3rem;
    right: 0;
}

#container::-webkit-scrollbar-track{
    background-color: var(--bg-primary);
}

#container::-webkit-scrollbar-thumb{
    background-color:var(--bg-item);
}

#navbar{
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 0;
    padding: 20px;
    align-items: center;
}

#links{
    display: flex;
    margin-left: auto;
    font-size: 20px;
    max-height: 2.5rem;
}

#navbar > h1{
    font-size: 2.5rem;
}

a, div#allClear{
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 0.2rem;
    border-top: 0;
    border-bottom: 0;
}

a::before, div#allClear::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    background-color: var(--bg-item);
    transition: 0.1s;
    z-index: -1;
    border-radius: 0.2rem;
}

a:hover::before, div#allClear:hover::before{
    width: 100%;
    height: 100%;
}

.task{
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 1rem;
    margin: 0.6rem 1rem;
    order: 1;
    font-size: 1rem;
    color: var(--text-primary);
    background-color: var(--bg-item);
    border-radius: 0.2rem;
    transition: 0.2s;
}

.task h2{
    overflow-x: hidden;
}

.task:hover{
    transform: scale(1.02);
}

.buttons{
    display: flex;
    margin-left: auto;
}

.taskDone{
    border: 0;
    margin-left: 1rem;
    cursor: pointer;
}

.deleteButton{
    margin-left: 1rem;
    cursor: pointer;
}

i{
    font-size: 2rem;
    transition: 0.2s;
}

.deleteButton:hover i.fas{
    color: #E63946;
}
.taskDone:hover i.fas{
    color: #00EBA4;
}

#completionStatus{
    background-color: var(--bg-item);
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    margin-left: 1.25rem;
    padding-left: 0.4rem;
}
#completionStatus option {
    background-color: var(--bg-item);
    font-size: 1rem;
}

#completionStatus:focus{
    outline: none;
}

#noTask{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    flex-direction: column;
    min-height: 4.75rem;
    min-width: 27rem;
    align-items: center;
}

#noTask h2{
    font-size: 1.5rem;
    margin: 0.25rem;
}

@media screen and (max-width:700px) {
    #navbar{
        flex-direction: column;
        margin: 0;
    }

    #links{
        width: 100%;
        justify-content: space-around;
        margin: 1rem 0;
    }
}


@media screen and (max-width:450px) {

    :root{
        font-size: 10px;
    }

    #links{
        justify-content: space-between;
    }

    i{
        transition: 0s;
    }

    .deleteButton{
        margin-left: 1.75rem;
    }

    .task:hover{
        transform: scale(1);
    }
}